/*************************************
 * Mac Theme v0.4                    *
 * Author: nowrep                    *
 * Based on: Firefox Mac OS X Theme  *
 * Last updated: 04.11.2011          *
 *************************************/

*[html-link-look="true"]
{
    color: palette(link);
    text-decoration: underline;
}

/*MainWindow*/
#mainwindow
{
    background-color: #b2b2b2;
}

#mainwindow-menubar
{
    background-image:url(images/transp.png);
    border:none;
}

#mainwindow-menubar:item
{
    color: black;
    spacing: 5px;
    padding: 2px 6px;
    background: transparent;
}

#mainwindow-menubar::item:pressed
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #a5a5a5, stop:1 #9a9a9a);
    border: 1px solid #373737;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
}

#mainwindow-statusbar
{
    background-color: #b5b5b5;
}

#statusbar-ip-label
{
    padding-right: 5px;
}

/*NavigationBar*/
#navigationbar QSplitter::handle
{
    height: 8px;
    image: url(images/splitter.png);
}

#navigation-button-back
{
    qproperty-multiIcon: url(images/navigation-back.png);
}

#navigation-button-next
{
    qproperty-multiIcon: url(images/navigation-forward.png);
}

#navigation-button-stop
{
    qproperty-multiIcon: url(images/navigation-stop.png);
}

#navigation-button-reload
{
    qproperty-multiIcon: url(images/navigation-reload.png);
}

#navigation-button-home
{
    qproperty-multiIcon: url(images/navigation-home.png);
}

#navigation-button-addtab
{
    qproperty-multiIcon: url(images/navigation-addtab.png);
}

#navigation-button-supermenu
{
    qproperty-multiIcon: url(images/navigation-supermenu.png);
}

/*TabWidget*/
#tabbar::scroller
{
    width: 0px;
}

#tabwidget-button-opentabs
{
    qproperty-multiIcon: url(images/tabs-list-button.png);
}

#tabwidget-button-addtab
{
    qproperty-multiIcon: url(images/tabbar-addtab.png);
}

/*IconProvider*/
IconProvider
{
    qproperty-bookmarkIcon: url(images/star-a.png);
}

/*LocationBar*/
#locationbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 4px;
    color:black;
    padding-right: -5px;
    padding-left: -5px;
    padding-top: -2px;
    padding-bottom: -2px;
    qproperty-fixedheight: 23;
    qproperty-leftMargin: 40;
}

#locationbar-bookmarkicon
{
    margin-left: 2px;
    qproperty-pixmap: url(images/star.png);
}

#locationbar-bookmarkicon[bookmarked="true"]
{
    qproperty-pixmap: url(images/star-a.png);
}

#locationbar-siteicon
{
    border-image: url(images/siteicon-bg.png);
    qproperty-fixedsize:42px 23px;
    padding-left: -3px;
}

#locationbar-siteicon[secured="true"]
{
    border-image: url(images/siteicon-secure-bg.png);
}

#locationbar-rss-icon
{
    margin-left: 2px;
    qproperty-pixmap: url(images/feed-icon.png);
}

#locationbar-goicon
{
    qproperty-pixmap: url(images/gotoaddress.png);
}

#locationbar-down-icon
{
    margin-left: 3px;
    margin-right: 2px;
    qproperty-pixmap: url(images/navigation-dropdown.png);
}

#locationbar-autofillicon
{
    margin-bottom: 1px;
    qproperty-pixmap: url(images/key.png);
}

/*BookmarksToolbar*/
#bookmarksbar QToolButton
{
    border-image: url(images/transp.png);
    border-width: 0px;
    height: 15px;
}

#bookmarksbar QToolButton::menu-indicator
{
    background: url(images/transp.png);
}

/*SideBar*/
#sidebar
{
    background: transparent;
}

#sidebar-splitter::handle
{
    background-color:transparent;
}

/*WebSearchBar*/
#websearchbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 4px;
    padding-right: -4px;
    padding-top: -2px;
    padding-bottom: -2px;
    color:black;
    qproperty-fixedheight: 23;
    qproperty-leftMargin: 35;
}

#websearchbar-searchbutton
{
    margin-bottom: -1px;
    qproperty-pixmap: url(images/search-icon.png);
}

#websearchbar-searchprovider-comobobox
{
    border-image: url(images/searchbar-provider-bg.png);
    padding-left:-11px;
    qproperty-fixedsize: 42px 23px;
}

#websearchbar-searchprovider-comobobox::menu-indicator
{
    background: url(images/transp.png);
}

/*SourceViewer*/
#sourceviewer-textedit
{
    border:none;
}

/*SourceViewerSearch*/
SourceViewerSearch #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*SearchToolbar*/
SearchToolBar #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*Click2Flash*/
#click2flash-frame
{
    border: 1px solid #e8e8e8;
}

#click2flash-toolbutton
{
    background: url(images/flash.png) no-repeat;
    background-position: center;
    border: none;
}

#click2flash-toolbutton:hover
{
    background: url(images/flashstart.png) no-repeat;
    background-position: center;
    border:none;
}

/*RSSManager*/
#rssmanager-frame
{
    background: white;
}

RSSManager QTabBar::tab
{
    max-width:100px;
}

/*AboutDialog*/
AboutDialog #label
{
    background:white;
}

AboutDialog #textBrowser
{
    border:none;
    margin-top: -2px; /* Workarounding rounded border on KDE */
}

/*DesktopNotification*/
DesktopNotification
{
    background: transparent;
}
DesktopNotification #frame
{
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #e4ecf1, stop:1 #d3e5f1);
}

DesktopNotification #heading
{
    font: bold;
    font-size: 13pt;
}

/*BrowsingLibrary*/
BrowsingLibrary #tabs
{
    qproperty-bgPixmap: url(images/library-bg-left.png);
}

BrowsingLibrary #frame
{
    background: url(images/library-bg-top.png) no-repeat;
}

BrowsingLibrary #frame_2
{
    background: url(images/library-bg-top-right.png);
}

BrowsingLibrary #searchLine
{
    background: transparent;
    border-image: url(images/library-search-bg.png);
    border-width:4;
    color:black;
}

/*Downloads*/
DownloadItem #fileName
{
    font-size: 13pt;
}

DownloadManager #list
{
    border: none;
}

/*JavaScript Dialogs*/
#jsFrame
{
    background: url(images/semi-transp.png);
}

QFrame[js-frame="true"]
{
    border: 1px solid  black;
    border-bottom: 0px;
    background-color: white;
}

QFrame[js-frame2="true"]
{
    border: 1px solid  black;
    border-top: 0px;
    background-color: #f3f3f3;
}
