/****************************
 * Default Theme            *
 * Author: nowrep           *
 ****************************/

*[html-link-look="true"]
{
    color: palette(link);
    text-decoration: underline;
}

/*MainWindow*/
#mainwindow
{
    background-image: url(images/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #e4eefa;
}

#mainwindow-menubar
{
    background-image:url(images/transp.png);
    border:none;
}

#mainwindow-menubar:item
{
    color: black;
    spacing: 5px;
    padding: 2px 6px;
    background: transparent;
}

#mainwindow-menubar::item:pressed
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 lightgray, stop:1 darkgray);
    border: 1px solid darkgrey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: none;
}

#mainwindow-statusbar
{
    background-image:url(images/transp.png);
    border:none;
}

#statusbar-ip-label
{
    color:*USER-TEXT-COLOR*;
    padding-right: 5px;
}

/*NavigationBar*/
#navigationbar
{
    qproperty-layoutMargin: 2;
    qproperty-layoutSpacing: 3;
}

#navigationbar QSplitter::handle
{
    background-color:transparent;
}

#navigation-button-back
{
    qproperty-icon: url(images/navigation-back.png);
}

#navigation-button-next
{
    qproperty-icon: url(images/navigation-forward.png);
}

#navigation-button-stop
{
    qproperty-icon: url(images/navigation-stop.png);
}

#navigation-button-reload
{
    qproperty-icon: url(images/navigation-reload.png);
}

#navigation-button-home
{
    qproperty-icon: url(images/navigation-home.png);
}

#navigation-button-addtab
{
    qproperty-icon: url(images/navigation-addtab.png);
}

#navigation-button-supermenu
{
    qproperty-icon: url(images/navigation-supmenu.png);
}

#navigation-button-exitfullscreen
{
    qproperty-themeIcon: "view-restore";
}

/*TabWidget*/
#tabbar::tab
{
    max-height: 28px;
}

#tabwidget-button-opentabs
{
    qproperty-icon: url(images/tabs-list-button.png);
    qproperty-fixedsize: 20px 27px;
}

#tabwidget-button-closedtabs
{
    qproperty-themeIcon: "user-trash-full";
    qproperty-fixedsize: 22px 25px;
}

#tabwidget-button-addtab
{
    qproperty-icon: url(images/navigation-addtab.png);
    qproperty-fixedsize: 25px 27px;
}

#tabbar-button-right
{
    qproperty-icon: url(images/tab-right-arrow.png);
    qproperty-fixedsize: 15px 25px;
}

#tabbar-button-left
{
    qproperty-icon: url(images/tab-left-arrow.png);
    qproperty-fixedsize: 15px 25px;
}

/*IconProvider*/
IconProvider
{
    qproperty-bookmarkIcon: url(images/star.png);
}

/*LocationBar*/
#locationbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 4px;
    color:black;
    padding-right: -2px;
    padding-left: -2px;
    padding-top: -2px;
    padding-bottom: -2px;
    qproperty-fixedheight: 25;
    qproperty-leftMargin: 35;
}

#locationbar-bookmarkicon
{
    margin-bottom: 2px;
    qproperty-pixmap: url(images/starg.png);
}

#locationbar-bookmarkicon[bookmarked="true"]
{
    qproperty-pixmap: url(images/star.png);
}

#locationbar-siteicon
{
    border-image: url(images/siteicon-bg.png);
    margin-left:2px;
    qproperty-fixedsize:35px 25px;
}

#locationbar-siteicon[secured="true"]
{
    border-image: url(images/siteicon-bg-secure.png);
}

#locationbar-goicon
{
    margin-bottom:2px;
    qproperty-pixmap: url(images/gotoaddress.png);
}

#locationbar-down-icon
{
    qproperty-pixmap: url(images/arrow-down.gif);
}

#locationbar-autofillicon
{
    qproperty-pixmap: url(images/key.png);
}

/*WebSearchBar*/
#websearchbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 4px;
    color:black;
    padding-right: -2px;
    padding-top: -2px;
    padding-bottom: -2px;
    qproperty-fixedheight: 25;
    qproperty-leftMargin: 34;
}

#websearchbar-searchbutton
{
    /* margin-bottom:2px; */
    margin-left: 2px;
    qproperty-pixmap: url(images/search.png);
}

#websearchbar-searchprovider-comobobox
{
    border-image: url(images/websearchbar-bg.png);
    padding-left:-6px;
    margin-left:2px;
    qproperty-fixedsize: 35px 25px;
}

/*BookmarksToolbar*/
#bookmarksbar QToolButton
{
    border-image: url(images/transp.png);
    border-width: 0px;
    height: 15px;
}

/*SideBar*/
#sidebar
{
    background: transparent;
}

#sidebar-splitter::handle
{
    background-color:transparent;
}

/*SourceViewer*/
#sourceviewer-textedit
{
    border:none;
}

/*SourceViewerSearch*/
SourceViewerSearch #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*SearchToolbar*/
SearchToolBar #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*Click2Flash*/
#click2flash-frame
{
    border: 1px solid #e8e8e8;
}

#click2flash-toolbutton
{
    background: url(images/flash.png) no-repeat;
    background-position: center;
    border: none;
}

#click2flash-toolbutton:hover
{
    background: url(images/flashstart.png) no-repeat;
    background-position: center;
    border:none;
}

/*AboutDialog*/
AboutDialog #label
{
    background:white;
}

AboutDialog #textBrowser
{
    border:none;
    margin-top: -2px; /* Workarounding rounded border on KDE */
}

/*DesktopNotification*/
DesktopNotification
{
    background: transparent;
}
DesktopNotification #frame
{
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #e4ecf1, stop:1 #d3e5f1);
}

DesktopNotification #heading
{
    font: bold;
    font-size: 13pt;
}

/*BrowsingLibrary*/
BrowsingLibrary #tabs
{
    qproperty-bgPixmap: url(images/library-bg.png);
}

BrowsingLibrary #frame
{
    background: url(images/library-bg.png);
}

/*Downloads*/
DownloadItem #fileName
{
    font-size: 13pt;
}

DownloadManager #list
{
    border: none;
}

/*JavaScript Dialogs*/
#jsFrame
{
    background: url(images/semi-transp.png);
}

QFrame[js-frame="true"]
{
    border: 1px solid  black;
    border-bottom: 0px;
    background-color: white;
}

QFrame[js-frame2="true"]
{
    border: 1px solid  black;
    border-top: 0px;
    background-color: #f3f3f3;
}
