build
DEBIAN
*.deb
*.pro.user*
*.autosave
*~
*.a
*.qm
*.o
!qt_*.qm
headers*.tar.gz
license_template
Makefile*
bin/qupzilla
bin/QupZilla.dmg
mac/images/qupzilla-dmg-icon.iconset
lib*.so*
bin/core
qupzilla.sh
git_revision
*.exe
*.dll
*.lib
*.exp
*.zip
Thumbs.db
*.pdb
*.ilk
*.kdev4
*.swp
*_manifest.*
*.embed.manifest
bin/autotests
.clang_complete
bin/qupzilla.app
.DS_Store
*.dylib
hunspell
callgrind.out.*
tests/autotests/autotests
.ycm_extra_conf.py*
*.stash
bin/profiles
