build
DEBIAN
tools_
*.deb
*.pro.user
*.autosave
*~
*.a
*.qm
!qt_*.qm
headers*.tar.gz
license_template
Makefile*
TestPlugin-build
search_*
src-*
bin/qupzilla
bin/plugins/libExamplePlugin.so
bin/core
qupzilla.sh
git_revision
bin/qupzilla.exe
Thumbs.db
