build
DEBIAN
tools_
*.deb
*.pro.user
*.autosave
*~
*.a
*.orig
*.qm
!qt_*.qm
headers*.tar.gz
license_template
Makefile*
TestPlugin-build
search_*
src-*
bin/qupzilla
*.so
libqupzilla.*
bin/core
qupzilla.sh
git_revision
*.exe
*.dll
*.lib
*.exp
*.zip
Thumbs.db
