#navigation-button-next
{
    qproperty-multiIcon: url(images/navigation-back.png);
}

#navigation-button-back
{
    qproperty-multiIcon: url(images/navigation-forward.png);
}

#locationbar-goicon
{
	qproperty-pixmap: url(images/gotoaddress_rtl.png);
}
