/*TabWidget*/
#tabbar
{
    background-image: url(images/tabs-bg.png);
    background-repeat: repeat-x;
    min-height: 27px;
    max-height: 27px;
}

#tabbar::tab
{
    max-width: 250px;
    height: 26px;
}

/*Downloads*/
DownloadItem #progressBar
{
    border: 1px solid;
}
