/*TabWidget*/
#tabbar
{
    min-height: 27px;
    max-height: 27px;
}

#tabbarwidget
{
    background-image: url(images/tabs-bg.png);
    background-repeat: repeat-x;
}

#tab-icon
{
    padding-right: 3px;
    padding-left: 3px;
    min-width: 16px;
    max-width: 16px;
}

#tabbar::tab
{
    height: 26px;
    padding-right: -1px;
    padding-left: -1px;
}

#tabbar::tab:selected
{
    background : url(images/tab-active-bg.png) repeat-x;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid #606060;
    border-bottom: none;
}

#tabbar::tab:!selected
{
    background: url(images/tab-deactive-bg.png) repeat-x;
    margin-top: 2px;
    margin-bottom: -3px;
    border: 1px solid #a6a6a6;
}

#tabbar::tab:!selected:hover
{
    background: url(images/tab-deactive-hover-bg.png) repeat-x;
    margin-top: 2px;
    margin-bottom: -3px;
    border: 1px solid #3c7fb1;
}

#tabbar::tab:last
{
    margin-right: -1px;
}


/*Downloads*/
DownloadItem #progressBar
{
    border: 1px solid;
}
