<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
    <key>CFBundleIconFile</key>
    <string>@ICON@</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleGetInfoString</key>
    <string>1.8.6</string>
    <key>CFBundleVersion</key>
    <string>1.8.6</string>
    <key>CFBundleSignature</key>
    <string>@TYPEINFO@</string>
    <key>CFBundleExecutable</key>
    <string>@EXECUTABLE@</string>
    <key>CFBundleIdentifier</key>
    <string>com.qupzilla.QupZilla</string>

    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>html</string>
          <string>htm</string>
          <string>shtml</string>
          <string>xhtml</string>
        </array>
        <key>CFBundleTypeIconFile</key>
        <string>@ICON@</string>
        <key>CFBundleTypeName</key>
        <string>HTML Document</string>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>HTML</string>
        </array>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
      </dict>
    </array>

    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleName</key>
    <string>QupZilla</string>
    <key>CFBundleDisplayName</key>
    <string>QupZilla</string>

	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
