/*************************************
 * Breathe theme                     *
 * Author: daimonion                 *
 * Using Oxygen icon set             *
 *************************************/

*[html-link-look="true"]
{
    color: palette(link);
    text-decoration: underline;
}

/*MainWindow*/
#statusbar-ip-label
{
    padding-right: 5px;
}

/*NavigationBar*/
#navigation-button-back
{
    qproperty-icon: url(images/previous.png);
}

#navigation-button-next
{
    qproperty-icon: url(images/next.png);
}

#navigation-button-stop
{
    qproperty-icon: url(images/stop.png);
}

#navigation-button-reload
{
    qproperty-icon: url(images/reload.png);
}

#navigation-button-home
{
    qproperty-icon: url(images/home.png);
}

#navigation-button-addtab
{
    qproperty-icon: url(images/add.png);
}

#navigation-button-supermenu
{
    qproperty-icon: url(images/menu.png);
}

#navigation-button-exitfullscreen
{
    qproperty-icon: url(images/restore);
}

/*TabWidget*/
#tabbar::tab
{
    max-height: 22px;
}

#tabbar::scroller
{
    width: 0px;
}

#tabbar-button-right
{
    qproperty-icon: url(images/tab-right.png);
    qproperty-fixedsize: 15px 22px;
}

#tabbar-button-left
{
    qproperty-icon: url(images/tab-left.png);
    qproperty-fixedsize: 15px 22px;
}

#tabwidget-button-opentabs
{
    qproperty-icon: url(images/tabs-list.png);
    qproperty-fixedsize: 18px 22px;
}

#tabwidget-button-closedtabs
{
    qproperty-icon: url(images/trash.png);
    qproperty-fixedsize: 22px 22px;
}

#tabwidget-button-addtab
{
    qproperty-icon: url(images/add.png);
    qproperty-fixedsize: 22px 22px;
}

/*IconProvider*/
IconProvider
{
    qproperty-bookmarkIcon: url(images/star-a.png);
}

/*LocationBar*/
#locationbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 3;
    qproperty-fixedheight: 22;
    qproperty-leftMargin: 30;
}

#locationbar-bookmarkicon
{
    qproperty-pixmap: url(images/star.png);
}

#locationbar-bookmarkicon[bookmarked="true"]
{
    qproperty-pixmap: url(images/star-a.png);
}

#locationbar-siteicon
{
    border-image: url(images/siteicon-bg.png);
    qproperty-fixedsize: 32px 22px;
    padding-left: 0px;
}

#locationbar-siteicon:hover
{
    border-image: url(images/siteicon-bg-h.png);
}

#locationbar-siteicon:pressed
{
    border-image: url(images/siteicon-bg-a.png);
}

#locationbar-siteicon[secured="true"]
{
    border-image: url(images/siteicon-secure-bg.png);
}

#locationbar-siteicon[secured="true"]:hover
{
    border-image: url(images/siteicon-secure-bg-h.png);
}

#locationbar-siteicon[secured="true"]:pressed
{
    border-image: url(images/siteicon-secure-bg-a.png);
}

#locationbar-rss-icon
{
    qproperty-pixmap: url(images/rss.png);
}

#locationbar-goicon
{
    qproperty-pixmap: url(images/goto.png);
}

#locationbar-down-icon
{
    qproperty-pixmap: url(images/navigation-dropdown.png);
}

#locationbar-autofillicon
{
    qproperty-pixmap: url(images/login.png);
}

/*BookmarksToolbar*/
#bookmarksbar QToolButton
{
    border-image: url(images/transp.png);
    border-width: 0px;
    height: 12px;
}

/*SideBar*/
#sidebar
{
    background: transparent;
}

/*WebSearchBar*/
#websearchbar
{
    background: transparent;
    border-image: url(images/lineedit-bg.png);
    border-width: 3;
    qproperty-fixedheight: 22;
    qproperty-leftMargin: 30;
}

#websearchbar-searchbutton
{
    qproperty-pixmap: url(images/find.png);
    qproperty-fixedsize: 20px 16px;
}

#websearchbar-searchprovider-comobobox
{
    border-image: url(images/websearch-bg.png);
    padding-left:-8px;
    qproperty-fixedsize: 32px 22px;
}

#websearchbar-searchprovider-comobobox:hover
{
    border-image: url(images/websearch-bg-h.png);
}

#websearchbar-searchprovider-comobobox:pressed
{
    border-image: url(images/websearch-bg-a.png);
}

/*SourceViewer*/
#sourceviewer-textedit
{
    border:none;
}

/*SourceViewerSearch*/
SourceViewerSearch #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*SearchToolbar*/
SearchToolBar #lineEdit[notfound="true"]
{
    background:#ff6666;
}

/*Click2Flash*/
#click2flash-frame
{
    border: 1px solid #e8e8e8;
}

#click2flash-toolbutton
{
    background: url(images/flash.png) no-repeat;
    background-position: center;
    border: none;
}

#click2flash-toolbutton:hover
{
    background: url(images/flashstart.png) no-repeat;
    background-position: center;
    border:none;
}

/*RSSManager*/
#rssmanager-frame
{
    background: white;
}

RSSManager QTabBar::tab
{
    max-width:100px;
    max-height:22px;
}

/*AboutDialog*/
AboutDialog #label
{
    background:white;
}

AboutDialog #textBrowser
{
    border:none;
    margin-top: -2px; /* Workarounding rounded border on KDE */
}

/*DesktopNotification*/
DesktopNotification
{
    background: transparent;
}

DesktopNotification #frame
{
    border: 2px solid darkblue;
    border-radius: 20px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,stop:0 #e4ecf1, stop:1 #d3e5f1);
}

DesktopNotification #heading
{
    font: bold;
    font-size: 13pt;
}

/*BrowsingLibrary*/
BrowsingLibrary #tabs
{
    qproperty-bgPixmap: url(images/library-bg.png);
}

BrowsingLibrary #frame
{
    background: url(images/library-bg.png);
}

/*Downloads*/
DownloadItem #fileName
{
    font-size: 13pt;
}

DownloadManager #list
{
    border: none;
}

/*JavaScript Dialogs*/
#jsFrame
{
    background: url(images/semi-transp.png);
}

QFrame[js-frame="true"]
{
    border: 1px solid  black;
    border-bottom: 0px;
    background-color: white;
}

QFrame[js-frame2="true"]
{
    border: 1px solid  black;
    border-top: 0px;
    background-color: #f3f3f3;
}
