[Desktop Entry]
Name=QupZilla
Name[hu]=QupZilla
Name[ka]=ქუპზილა
Name[sr]=Капзила
Name[sr@ijekavian]=Капзила
Name[fa]=کوپزیلا
Name[ar]=كَبزيلّا
Type=Application
Icon=qupzilla
Categories=Network;WebBrowser;
Comment=A fast and secure web browser
Comment[ca]=Un navegador ràpid i segur
Comment[cs]=Rychlý a bezpečný webový prohlížeč
Comment[da]=En hurtig og sikker webbrowser
Comment[de]=Ein schneller und sicherer Web Browser
Comment[eu]=Web nabigatzaile azkar eta seguru bat
Comment[el]=Ένας γρήγορος και ασφαλής περιηγητής ιστού
Comment[es]=Un navegador web rápido y seguro
Comment[fr]=Un navigateur Internet rapide et sûr
Comment[he]=דפדפן רשת מהיר ומאובטח
Comment[hu]= Könnyűsúlyú többplatformos webböngésző
Comment[it]=Un browser web veloce e sicuro
Comment[id]=Peramban web cepat dan aman
Comment[ka]=სწრაფი და დაცული ვებ ბრაუზერი
Comment[nl]=Een snelle en veilige webbrowser
Comment[pl]=Szybka i bezpieczna przeglądarka internetowa
Comment[pt]=Um navegador web rápido e seguro
Comment[ro]=Un browser rapid și sigur
Comment[ru]=Быстрый и безопасный веб-браузер
Comment[sk]=Rýchly a bezpečný webový prehliadač
Comment[sl]=Hiter in varen spletni brskalnik
Comment[sr]=Брз и сигуран веб прегледач
Comment[sr@ijekavian]=Брз и сигуран веб прегледач
Comment[sr@ijekavianlatin]=Brz i siguran veb pregledač
Comment[sr@latin]=Brz i siguran veb pregledač
Comment[sv]=En snabb och säker webbläsare
Comment[uk]=Швидкий і безпечний веб-переглядач
Comment[zh_HK]=快速和安全的網頁瀏覽器
Comment[zh_TW]=安全又快速的瀏覽器
Comment[zh_CN]=安全又快速的浏览器
Comment[ja]=高速で安全なブラウザ
Comment[fa]=مرورگر سبک و ایمن وب
Comment[ar]=متصفح وِب سريع وآمن
Comment[fi]=Nopea ja turvallinen WWW-selain
GenericName=Web Browser
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Web Browser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador Web
GenericName[fr]=Navigateur Internet
GenericName[id]=Peramban Web
GenericName[it]=Browser Web
GenericName[he]=דפדפן רשת
GenericName[hu]=Webböngésző
GenericName[ka]=ვებ ბრაუზერი
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka Internetowa
GenericName[pt]=Navegador web
GenericName[pt_BR]=Navegador web
GenericName[ro]=Browser Web
GenericName[ru]=Веб-Браузер
GenericName[sk]=Webový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[uk]=Веб-переглядач
GenericName[zh_HK]=網頁瀏覽器
GenericName[zh_TW]=網頁瀏覽器
GenericName[zh_CN]=网页浏览器
GenericName[ja]=Webブラウザ
GenericName[fa]=مرورگر وب
GenericName[ar]=متصفح وِب
GenericName[fi]=WWW-selain
Exec=qupzilla %u
StartupWMClass=QupZilla
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;application/x-mimearchive;
Terminal=false
Actions=NewTab;NewWindow;PrivateBrowsing;

[Desktop Action NewTab]
Name=Open new tab
Name[ca]=Obre una nova pestanya
Name[cs]=Otevřít nový panel
Name[da]=Åbn nyt faneblad
Name[de]=Neuen Tab öffnen
Name[eu]=Ireki hegats berria
Name[el]=Άνοιγμα νέας καρτέλας
Name[es]=Abrir nueva pestaña
Name[fr]=Ouvrir un nouvel onglet
Name[it]=Apri una nuova scheda
Name[he]=פתח כרטיסייה חדשה
Name[hu]=Megnyitás új lapon
Name[id]=Buka tab baru
Name[ka]=ახალი ჩანართის გახსნა
Name[nl]=Open nieuw tabblad
Name[pl]=Otwórz nową kartę
Name[pt]=Abrir novo separador
Name[pt_BR]=Abrir nova guia
Name[ru]=Открыть новую вкладку
Name[sk]=Otvoriť novú kartu
Name[sl]=Odpri nov zavihek
Name[sr]=Отвори у новом језичку
Name[sr@ijekavian]=Отвори у новом језичку
Name[sr@ijekavianlatin]=Otvori u novom jezičku
Name[sr@latin]=Otvori u novom jezičku
Name[sv]=Öppna ny flik
Name[uk]=Відкрити нову вкладку
Name[zh_HK]=開啟新分頁
Name[zh_TW]=新增分頁
Name[zh_CN]=新建标签页
Name[ja]=新しいタブを開く
Name[fa]=بازکردن برگه تازه
Name[ar]=افتح لسانًا جديدًا
Name[fi]=Avaa uusi välilehti
Exec=qupzilla --new-tab

[Desktop Action NewWindow]
Name=Open new window
Name[ca]=Obre una nova finestra
Name[cs]=Otevřít nové okno
Name[da]=Åbn nyt vindue
Name[de]=Neues Fenster öffnen
Name[eu]=Ireki leiho berria
Name[el]=Άνοιγμα νέου παράθυρου
Name[es]=Abrir nueva ventana
Name[fr]=Ouvrir une nouvelle fenêtre
Name[it]=Apri una nuova finestra
Name[he]=פתח חלון חדש
Name[hu]=Megnyitás új ablakban
Name[id]=Buka jendela baru
Name[ka]=ახალი ფანჯრის გახსნა
Name[nl]=Nieuw venster openen
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir nova janela
Name[pt_BR]=Abrir nova janela
Name[ru]=Открыть в новом окне
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отвори у новом прозору
Name[sr@ijekavian]=Отвори у новом прозору
Name[sr@ijekavianlatin]=Otvori u novom prozoru
Name[sr@latin]=Otvori u novom prozoru
Name[sv]=Öppna nytt fönster
Name[uk]=Відкрити нове вікно
Name[zh_HK]=開啟新視窗
Name[zh_TW]=新增視窗
Name[zh_CN]=新建窗口
Name[ja]=新しいウィンドウを開く
Name[fa]=بازکردن پنجره تازه
Name[ar]=افتح نافذة جديدة
Name[fi]=Avaa uusi ikkuna
Exec=qupzilla --new-window

[Desktop Action PrivateBrowsing]
Name=Start private browsing
Name[ca]=Inicia la navegació privada
Name[cs]=Spustit soukromé prohlížení
Name[da]=Start privat browsing
Name[de]=Privaten Modus starten
Name[eu]=Hasi nabigazio pribatua
Name[el]=Έναρξη ιδιωτικής περιήγησης
Name[es]=Iniciar navegación privada
Name[fr]=Commencer la navigation privée
Name[it]=Avvia Navigazione Anonima
Name[he]=התחל גלישה פרטית
Name[hu]=Megnyitás új magánablakban
Name[id]=Mulai perambahan privat
Name[ka]=პირადი ბრაუზინგის დაწყება
Name[nl]=Start incognito browsen
Name[pl]=Uruchom w trybie prywatnym
Name[pt]=Iniciar navegação privada
Name[pt_BR]=Iniciar navegação privada
Name[ru]=Запустить в режиме приватного просмотра
Name[sk]=Spustiť súkromné prehliadanie
Name[sl]=Začni zasebno brskanje
Name[sr]=Покрени приватно прегледање
Name[sr@ijekavian]=Покрени приватно прегледање
Name[sr@ijekavianlatin]=Pokreni privatno pregledanje
Name[sr@latin]=Pokreni privatno pregledanje
Name[sv]=Starta privat surfning
Name[uk]=Запустити Приватний перегляд
Name[zh_HK]=啟動私密瀏覽
Name[zh_TW]=開始隱私瀏覽
Name[zh_CN]=开始隐私浏览
Name[ja]=プライベートブラウジングを開始
Name[fa]=مرور خصوصی وب
Name[ar]=ابدأ التصفح خِفيةً
Name[fi]=Aloita yksityinen selaus
Exec=qupzilla --private-browsing
