[Desktop Entry]
Encoding=UTF-8
Name=QupZilla
Type=Application
Icon=qupzilla
Categories=Network;WebBrowser;
Comment=A fast and secure web browser
Comment[es]=Un navegador web rápido y seguro
Comment[cs]=Rychlý a bezpečný webový prohlížeč
Comment[sk]=Rýchly a bezpečný webový prehliadač
Comment[de]=Ein schneller und sicherer Web Browser
Comment[nl]=Een snelle en veilige webbrowser
Comment[it]=Un browser web veloce e sicuro
Comment[pl]=Szybka i bezpieczna przeglądarka internetowa
Comment[fr]=Un navigateur Internet rapide et sûr
GenericName=Web Browser
GenericName[es]=Navegador Web
GenericName[cs]=Webový prohlížeč
GenericName[sk]=Webový prehliadač
GenericName[de]=Web Browser
GenericName[nl]=Webbrowser
GenericName[it]=Browser Web
GenericName[pl]=Przeglądarka Internetowa
GenericName[fr]=Navigateur Internet
Exec=qupzilla %u
MimeType=text/html;application/xhtml+xml;
Terminal=false
