[Desktop Entry]
Encoding=UTF-8
Name=QupZilla
Type=Application
Icon=qupzilla
Categories=Network;WebBrowser;
Comment=A fast and secure web browser
Comment[cs]=Rychlý a bezpečný webový prohlížeč
Comment[de]=Ein schneller und sicherer Web Browser
Comment[el]=Ένας γρήγορος και ασφαλής περιηγητής ιστού
Comment[es]=Un navegador web rápido y seguro
Comment[fr]=Un navigateur Internet rapide et sûr
Comment[it]=Un browser web veloce e sicuro
Comment[nl]=Een snelle en veilige webbrowser
Comment[pl]=Szybka i bezpieczna przeglądarka internetowa
Comment[sk]=Rýchly a bezpečný webový prehliadač
GenericName=Web Browser
GenericName[cs]=Webový prohlížeč
GenericName[de]=Web Browser
GenericName[el]=Περιηγητής ιστού
GenericName[es]=Navegador Web
GenericName[fr]=Navigateur Internet
GenericName[it]=Browser Web
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka Internetowa
GenericName[sk]=Webový prehliadač

Exec=qupzilla %u
MimeType=text/html;application/xhtml+xml;
Terminal=false
X-Ayatana-Desktop-Shortcuts=NewTab;NewWindow;PrivateBrowsing;

[NewTab Shortcut Group]
Name=Open new tab
Name[cs]=Otevřít nový panel
Name[de]=Neuen Tab öffnen
Name[el]=Άνοιγμα νέας καρτέλας
Name[es]=Abrir nueva pestaña
Name[fr]=Ouvrir un nouvel onglet
Name[it]=Apri nuova scheda
Name[nl]=Open nieuw tabblad
Name[pl]=Otwórz nowe okno
Name[sk]=Otvoriť novú kartu
Exec=qupzilla --new-tab
TargetEnvironment=Unity

[NewWindow Shortcut Group]
Name=Open new window
Name[cs]=Otevřít nové okno
Name[de]=Neues Fenster öffnen
Name[el]=Άνοιγμα νέου παράθυρου
Name[es]=Abrir una ventana nueva
Name[fr]=Ouvrir une nouvelle fenêtre
Name[it]=Apri una nuova finestra
Name[nl]=Nieuw venster openen
Name[pl]=Otwórz nowe okno
Name[sk]=Otvoriť nové okno
Exec=qupzilla --new-window
TargetEnvironment=Unity

[PrivateBrowsing Shortcut Group]
Name=Start private browsing
Name[cs]=Spustit soukromé prohlížení
Name[de]=Privaten Modus starten
Name[el]=Έναρξη ιδιωτικής περιήγησης
Name[es]=Iniciar navegación privada
Name[fr]=Commencer la navigation privée
Name[it]=Avvia Navigazione Anonima
Name[nl]=Start incognito browsen
Name[pl]=Początek prywatną oglądania
Name[sk]=Spustiť súkromné prehliadanie
Exec=qupzilla --private-browsing
TargetEnvironment=Unity
